<footer>
  <div class="top">
    <div class="footer-logo">
      <div>
        <img src="./images/footer-bjfzxy-logo.png" alt="" />
      </div>
      <div>
        <img src="./images/footer-logo.png" alt="" />
      </div>
    </div>
    <div class="menu">
      <p><a href="">关于我们</a></p>
      <p><a href="">商标声明</a></p>
      <p><a href="">隐私政策</a></p>
    </div>
    <div class="address">
      <p>北服创新园官方微博：BIFTPARK</p>
      <p>北服创新园官方微信公众号：中关村时尚产业创新园 BIFTPARK</p>
    </div>
    <div class="qr-code">
      <div>
        <img src="./images/footer-code1.png" alt="" />
      </div>
      <div>
        <img src="./images/footer-code2.png" alt="" />
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>© 2012 - 2018 北京北服时尚投资管理有限公司</p>
    <p>京ICP备18000308号-1</p>
  </div>
</footer>
