<header>
  <ul class="nav visible">
      <li @@if (context.active == 'park') {class="active"} >
        <a>国内园区</a>
        <div class="menu">
          <ul>
            <li><a href="@@webRoot/industrialPark-BJ.html">北京园区</a></li>
            <li><a href="@@webRoot/industrialPark-RC.html">容城园区</a></li>
            <li><a href="@@webRoot/industrialPark-CF.html">晨风园区</a></li>
            <li><a href="@@webRoot/industrialPark-HN.html">海宁园区</a></li>
            <li><a href="@@webRoot/industrialPark-QD.html">青岛园区</a></li>
            <li><a href="@@webRoot/industrialPark-XC.html">兴城园区</a></li>
          </ul>
        </div>
      </li>
    <li @@if (context.active == 'mainBusiness') {class="active"}><a href="@@webRoot/mainBusiness.html">主要业务</a></li>
    <li @@if (context.active == 'index') {class="active"} type="logo"><a href="@@webRoot/index.html"><img src="@@webRoot/images/logo.svg" alt=""></a></li>
    <li @@if (context.active == 'latestNews') {class="active"}><a href="@@webRoot/latestNews.html">最新动态</a></li>
    <li @@if (context.active == 'aboutUs') {class="active"}><a href="@@webRoot/aboutUs.html">关于我们</a></li>
    <li class="language">
      <span class="cur">中文</span>/<span>EN</span>
    </li>
  </ul>
</header>
<script>
$('.nav li:first, .menu').hover(function(){
  $('.menu', this).stop().fadeIn(200)
},function() {
  $('.menu', this).stop().fadeOut(200)
})

var debounce = function(idle, action) {
  var last
  return function() {
    var ctx = this, args = arguments
    clearTimeout(last)
    last = setTimeout(function() {
      action.apply(ctx, args)
    }, idle)
  }
}
window.addEventListener('scroll', debounce(50, function(e) {
    var scrollY = 0
    if (window.scrollY) {
        scrollY = window.scrollY
    } else {
        scrollY = $(document).scrollTop()
    }
    if (scrollY < 50) {
        return $('header .nav').addClass('visible')
    }
    e.target.oldScrollTopPosition = e.target.scrollTopPosition || 0
    e.target.scrollTopPosition = (window.pageYOffset || document.scrollTop) - (document.clientTop || 0) || 0
    var direction = 'down'
    if (e.target.scrollTopPosition - e.target.oldScrollTopPosition < 0) {
        direction = 'up'
    }
    if (e.target.scrollTopPosition > 0) {
        if (direction === 'down') {
          $('header .nav').removeClass('visible')
        } else {
          $('header .nav').addClass('visible')
        }
    }
}))
</script>