@charset "utf-8";

@font-face {
  font-family: SourceHanSans;
  src: url("../font/SourceHanSans-Light.otf");
}
@font-face {
  font-family: segoeui;
  src: url("../font/segoeui.ttf");
}

$nav-color: #000;
$nav-font: 20px;
$font-color: #fff;

// build color
$build-bg: #fef4eb;
