#mainBusiness {
  .banner {
    height: 5.4rem;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  .tab {
    width: 13.2rem;
    margin: 0.5rem auto 0;
    border: 0.05rem solid #eaeae5;
    position: relative;
    .title {
      background: #fff;
      padding: 0 1.13rem;
      font-size: 0.4rem;
      letter-spacing: 5px;
      color: #8f8f86;
      line-height: 1;
      position: absolute;
      top: -0.215rem;
      left: 50%;
      z-index: 2;
      transform: translateX(-50%);
    }
    .tab-item {
      display: flex;
      height: 1.2rem;
      span {
        flex: 1;
        line-height: 1;
        color: #c7c7bd;
        font-size: 0.35rem;
        position: relative;
        transition: all 0.2s;
        text-align: center;
        z-index: 1;
        a {
          height: 100%;
          display: inline-block;
          line-height: 1.2rem;
        }
        cursor: pointer;
        &.active {
          color: #8f8f86;
          text-shadow: 0 3px 4px #c7c7bd;
          position: relative;
          a {
            border-bottom: 0.05rem solid #fff;
            background: #fff;
            z-index: 1;
            &::before {
              content: "";
              position: absolute;
              bottom: -0.5rem;
              width: 0.6rem;
              height: 0.52rem;
              left: 50%;
              z-index: -1;
              transform: translateX(-50%);
              background: #fff url("../images/cur-point.png") no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
  }
  .tab-content-box {
    margin: 0.3rem 0 0;
    .tab-content {
      display: none;
      .desc {
        padding: 0.72rem 2rem;
        border: 0.05rem solid #eaeae5;
        font-size: 0.24rem;
        color: #000;
        line-height: 0.3rem;
        margin: 0 1.36rem;
      }
      h3 {
        font-size: 0.3rem;
        font-weight: normal;
        color: #8f8f86;
        background-image: url("../images/subscript1.png");
        background-repeat: no-repeat;
        background-position: 0.15rem;
        background-size: contain;
      }
      p {
        font-size: 0.24rem;
        color: #8f8f86;
        line-height: 0.3rem;
      }
      img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
      }
      .left-text {
        position: absolute;
        left: 0.25rem;
        font-size: 0.4rem;
        color: #8f8f86;
        letter-spacing: 2px;
        top: -0.325rem;
        background: #fff;
        font-weight: bold;
        padding: 0 0.3rem;
      }
      .right-logo {
        position: absolute;
        right: 0.3rem;
        bottom: -0.38rem;
        background: #fafafa;
        padding: 0.12rem 0.2rem;
        font-size: 0.5rem;
        font-weight: 700;
        line-height: 1;
        color: #b6b6af;
        text-shadow: 0 0 2px #eaeae5;
      }
      .first {
        margin: 1.2rem 0.64rem 0 1.36rem;
        position: relative;
        border: 0.05rem solid #eaeae5;
        height: 7.34rem;
        .first-content {
          padding: 0 0.3rem;
          margin-top: -0.25rem;
          .first-content-item {
            margin-bottom: 0.5rem;
            display: flex;
            &:nth-child(odd) {
              .text {
                padding: 1rem 1.8rem 0 0.9rem;
              }
            }
            .text {
              flex: 1;
              padding: 0.6rem 1.8rem;
              p {
                margin-top: 0.45rem;
              }
            }
            .img {
              width: 7.8rem;
              height: 3.75rem;
            }
          }
        }
      }
      .second {
        margin: 1.62rem 0.64rem 0 2.16rem;
        position: relative;
        border: 0.05rem solid #eaeae5;
        height: 8.49rem;
        &::before {
          content: "";
          position: absolute;
          width: 0.92rem;
          height: 0.68rem;
          top: -0.15rem;
          right: -0.25rem;
          background-image: url("../images/subscript1.png");
          background-repeat: no-repeat;
          background-size: cover;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0.92rem;
          height: 0.68rem;
          bottom: -0.15rem;
          left: -0.25rem;
          background-image: url("../images/subscript1.png");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .second-content {
          display: flex;
          p {
            margin-top: 0.45rem;
          }
          .left {
            .img {
              width: 5.47rem;
              height: 3.64rem;
              margin-left: -0.9rem;
            }
            .text {
              padding: 0.7rem 0 0.47rem 1.5rem;
            }
          }
          .mid {
            width: 3.75rem;
            margin-left: 0.7rem;
            margin-top: -0.2rem;
            .img {
              width: 3.75rem;
              height: 5.02rem;
            }
            .text {
              padding: 0.5rem 0 0;
            }
          }
          .right {
            margin-left: 0.7rem;
            .img {
              width: 6.48rem;
              height: 3.75rem;
            }
            .text {
              padding: 1.18rem 1.2rem 0.47rem 0;
            }
          }
        }
      }
      .third {
        margin: 1.44rem 0.64rem 0.5rem 2.16rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 0.92rem;
          height: 0.68rem;
          top: -0.15rem;
          right: -0.25rem;
          background-image: url("../images/subscript1.png");
          background-repeat: no-repeat;
          background-size: cover;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0.92rem;
          height: 0.68rem;
          bottom: -0.15rem;
          left: -1rem;
          background-image: url("../images/subscript1.png");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .right-logo {
          right: 1rem;
          bottom: -0.3rem;
        }
        .third-content {
          .img {
            width: 7.2rem;
            height: 4.33rem;
          }
          p {
            margin-top: 0.45rem;
          }
          > .top,
          .mid,
          .bottom {
            display: flex;
            align-items: center;
            .text {
              flex: 1;
              padding: 0 1.3rem;
            }
          }
          .top,
          .bottom {
            border: 0.05rem solid #eaeae5;
          }
          .top {
            height: 4rem;
            padding-top: 0.5rem;
            .img {
              margin-top: 0.3rem;
              margin-left: -0.28rem;
            }
            .text {
              padding-right: 0 1.6rem;
            }
          }
          .mid {
            height: 3.6rem;
            .text {
              padding-left: 1.75rem;
            }
          }
          .bottom {
            height: 4.88rem;
            margin: 0 0.8rem 0 -0.8rem;
            .img {
              margin-top: 0.94rem;
              margin-left: 1.53rem;
            }
            .text {
              padding-right: 0 1.8rem;
            }
          }
        }
      }
      &.module2 {
        .third {
          margin: 1.44rem 0.64rem 0.5rem 2.16rem;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 0.92rem;
            height: 0.68rem;
            top: -0.15rem;
            right: -0.25rem;
            background-image: url("../images/subscript1.png");
            background-repeat: no-repeat;
            background-size: cover;
          }
          &::after {
            width: 0;
          }
          .third-content {
            p {
              margin-top: 0.45rem;
            }
            > .top,
            .mid,
            .bottom,
            .last {
              display: flex;
              align-items: center;
              .text {
                flex: 1;
                padding: 0 1.3rem;
              }
            }
            .top,
            .bottom {
              border: 0.05rem solid #eaeae5;
            }
            .top {
              height: 4.92rem;
              padding-top: 0;
              .img {
                width: 7.13rem;
                height: 4.58rem;
                margin-top: 0.7rem;
                margin-left: -0.4rem;
              }
              .text {
                padding-right: 0 1.6rem;
              }
            }
            .mid {
              height: 5.46rem;
              .img {
                width: 7.2rem;
                height: 6.23rem;
              }
              .text {
                padding-left: 2rem;
              }
            }
            .bottom {
              height: 5.24rem;
              margin: 0 0.8rem 0 -0.8rem;
              position: relative;
              z-index: -1;
              &::after {
                content: "";
                position: absolute;
                width: 0.92rem;
                height: 0.68rem;
                bottom: -0.15rem;
                left: -.2rem;
                background-image: url("../images/subscript1.png");
                background-repeat: no-repeat;
                background-size: cover;
              }
              .img {
                width: 7.2rem;
                height: 4.33rem;
                margin-top: -1.7rem;
                margin-left: 1.53rem;
              }
              .text {
                padding: 0 1.8rem 0 1.2rem;
              }
            }
            .last {
              margin-right: 2.5rem;
              position: relative;
              z-index: 1;
              .img {
                margin-top: -.5rem;
                width: 6.35rem;
                height: 5.08rem;
              }
              .text {
                padding: 0 1.3rem 0 .7rem;
              }
            }
          }
        }
      }
      &.module3{
        .module3-content {
          margin: 1.17rem .64rem .5rem 1.36rem;
           .module3-content-item {
             display: flex;
             align-items: center;
             margin-bottom: 1rem;
             &:nth-child(odd) {
               .text {
                 margin-left: -0.05rem;
               }
             }
             &:nth-child(even) {
               .text {
                 margin-right: -0.05rem;
               }
             }
             &:last-child{
               margin-bottom: 0;
             }
            .img {
              width: 8.69rem;
              height: 6.2rem;
              background: #fff;
            }
            .text{
              flex: 1;
              border: 0.05rem solid #eaeae5;
              padding: 1.12rem 1.49rem .94rem .98rem;
              z-index: -1;
              p {
                margin-top: .45rem;
              }
            }
           }
        }
      }
    }
  }
}
