#trademark {
  .banner {
    height: 5.4rem;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  .content {
    margin: 1.2rem 2.6rem 1rem;
    border: 0.05rem solid #eaeae5;
    position: relative;
    .title {
      background: #fff;
      padding: 0 1.13rem;
      font-size: 0.35rem;
      color: #000;
      line-height: 1;
      position: absolute;
      top: -.215rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .text {
      margin: .7rem .4rem;
      font-size: .24rem;
      color: #000;
      line-height: .4rem;
    }
  }
}
